<div class="container-fluid m-0 p-0">
    <div class="d-flex justify-content-between header px-5 align-items-center">
        <a class="text-decoration-none" href="/home"><h1 class="text-white">SDcommerce</h1></a>
        <div class="dropdown">
            <button class="dropdown-toggle btn btn-primary" data-bs-toggle="dropdown" type="button" aria-expanded="false"
                id="header-button">Profile</button>
            <ul class="dropdown-menu" aria-labelledby="header-button">
                <li><a class="dropdown-item" href="#">My Car</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li><a class="dropdown-item" href="#">Log out</a></li>
            </ul>
        </div>
    </div>
</div>